{% load static %}
<!DOCTYPE html>
<html lang="en">
{% if request.user.is_authenticated %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clean Care Hub</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" />
  </head>

  <body>
    <div class="navbar">
      <div class="navleft"><p>Clean Care Hub</p></div>
      <div class="navright">
        <a href="{% url 'home' %}"><button>Home</button></a>
      </div>
    </div>

    <div class="header">
      <h1><span>Clean Care Hub</span></h1>
      <p>Detect Litter in Realtime</p>
    </div>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input
        class="custom-file-upload"
        type="file"
        accept="image/*"
        name="image"
        id="file"
        required
      />
      <button class="compress_image" type="submit" id="submitBtn">
        Detect
      </button>
      <div class="status">
        <p id="message">{{ message }}</p>
      </div>
    </form>

    <div class="wrapper">
      {% if image_url %}
        <div>
          <h3>Uploaded Image:</h3>
          <img
            class="wrapperimg"
            src="{{ image_url }}"
            alt="Uploaded Image"
          />
        </div>
      {% else %}
        <div>
          <h3>No image uploaded yet</h3>
          <img
            class="wrapperimg"
            src="{% static 'assets/noimage.jpg' %}"
            alt="Placeholder"
          />
        </div>
      {% endif %}

      {% if result_image_url %}
        <div>
          <h3>Detection Result:</h3>
          <img
            class="resultimg"
            src="{{ result_image_url }}"
            alt="Detection Result"
          />
        </div>
      {% elif image_url %}
        <p>No detections found in the uploaded image.</p>
      {% endif %}
    </div>
  </body>
{% else %}
  <body>
    <h2>You are not logged in. <a href="{% url 'login' %}">Login here</a>.</h2>
  </body>
{% endif %}
</html>
